.title-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the whole block horizontally */
  text-align: left; /* keeps text left-aligned inside */
}

.AlphaPractice{
 text-align: center;
}

.heading1 {
  text-align: center;
}

.text-block {
  /* max-width: 600px; controls line length (professional look) */
  width: 100%;
  margin-bottom: 6px;
  line-height: 1.6;
}

.tip {
  text-align: center;
}

.table1 {
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
}

.link1 {
  margin-bottom: 1rem;
 
  font-size: 14px;
}

