/* alphabet style  */

.heading1 {
  text-align: center;
}

.heading2 {
  text-decoration: underline;
}

.table1 {
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
}


.link1 {
  margin-bottom: 2rem;
  float: right;
}




#heading3 {
  text-decoration: underline; 
  font-style: italic; 
  margin-top: 4.8rem;
}


.tone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tone-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.toneCard {
  width: 80px;
  height: 60px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#shuffleBtn {
  margin-top: 15px; font-size: large;
}



#heading3 {
  text-decoration: underline; 
  font-style: italic; 
  margin-top: 4.8rem;
}


.tone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tone-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.toneCard {
  width: 80px;
  height: 60px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#shuffleBtn {
  margin-top: 15px; font-size: large;
}


/* TONE PRACTICE */
#heading4 {
  text-align: center; 
  font-style: italic;
}

#tonePractice {
  text-align: center; 
  margin-top: 20px;
}


#wordRow {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}


#toneRow {
   display: flex;
 justify-content: center;
   gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


#playToneAudio {
  margin: 10px; 
  font-size: 16px;
}


#prevTone {
font-size: 16px;
}

#nextTone{
font-size: 16px;
}





/* ARGUMENT GAME STYLE SECTION */

#argument-section {
      text-align: center;
      margin-top: 40px;
      font-family: Arial, sans-serif;
    }

 #tense-buttons {
      margin-top: 20px;
    }


    /* Buttons layout */
#verb-buttons {
      margin-top: 20px;
    }


 #verb-buttons button,
  #tense-buttons button {
      margin: 5px;
      padding: 6px 14px;
      font-size: 16px;
      cursor: pointer;
    }
