.tone {
  text-align: center;
}

.block-textTip {
  text-align: center;
}

.tone-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.toneCard {
  width: 80px;
  height: 60px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#shuffleBtn {
  margin-top: 15px;
  font-size: large;
}