body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f5f5f5;
  text-align: center;
}

header, footer {
  background: #111;
  color: white;
  padding: 20px;
}

.hero {
  padding: 100px 20px;
}
