body {
    background-color: #453535;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: brown;
}

h1 {
    margin-bottom: 20px;
}

#count {
    font-size: 4rem;
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #666;
}
