@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(20, 20, 20);
    font-family:"inter" "san seriff";
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    min-height: 100vh;
}

.card{
   background-color: hsl(0, 8%, 23%);
   max-width: 23rem;
   padding: 2rem;
   text-align: center;
}

.card-avatar{
    border-radius: 100%;
    display: block;
    margin:0 auto;
    max-width: 5rem;
}

.card-name{
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
    margin-top: 10px;


}

.card-location{
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
}

.card-quote{
    color: hsl(0, 0%, 58%);
    margin-bottom: 1;
    margin-top: 10px;
}

.card-socials{
 display: grid;
 gap: 1rem;
 background-color: hsl(0, 0, 8%);

}



.card-link a{
    text-decoration: none;
    color:rgb(237, 237, 241);
    display: block;
    background-color:hsl(0, 0%, 20%);
    padding: 1rem;

}
.card-link li{
    background-color: hsl(0, 0, 20%);
}r9