*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body{
 background-color: rgba(96, 117, 120,0.42);
}

.logo img{
    width: 280px;
    margin-bottom: 30px;
}

/*.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    font-size: large;
}*/


.hero-section {
    width: 100vw;
    height: 100vh;
    margin-top: -30px;
    background: linear-gradient(rgba(90, 90, 99, 0.3),rgba(255, 0, 0,0.3)),url(images/hold\ laptop.JPG);
    background-size: 45%;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    color: #ffffff;
}

/*.hero-content{
   margin: 0 20%;
    text-align: center
}*/

.hero-content h1{
    font-size: 85px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content h2{
    font-size: 40px;
    margin-top: 4px;
    font-weight: 600;
    color: #fff; 
    font-style: oblique;  
}


.hero-content p{
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
}

.fieldset{
    position: absolute;
    /*top: 20px;*/
    right: 30px;
    border: 2px solid #fff;
    font-weight: 900;
    padding: 10px 15px;
    font-weight: bold;
    /*background-color: #141010;*/
    width: fit-content;
    /*z-index: 1000;*/
}

.fieldset2{
    display: inline-block;
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.fieldset2 legend{
    padding: 0 10px;
    font-size: 20px;
}

#web{
  letter-spacing: 3px;
}

.btn-courses{
    background-color: #00f;
    color: #fff;
    margin-right: 15px;
    font-size: 18px;
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: disc;
}

li {
    list-style-position: inside;
}

.modeoftraining{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 40px;
    /*margin: 10px 40px;*/
    margin-top: 50px;
    
}

 /*training section*/ 
.trainings-container{
    max-width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin-top: 0;
    cursor: pointer;     
}

.training1{
    background-color: #67462f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 45px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* ALTERNATIVE METHOD (first look fast,short,easier)
.training1 img{
    margin-left: 170px;
}

.training1 h1,p{
    text-align: center;
}
    
.training1 button{
    display: block;
    margin-left: 145px; */
    

.training2 {
    background-color: #a2a2b1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 45px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.training3 {
    background-color: #493628 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 30px 45px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
    

    

    

    

