@import url();
@import url();

*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

img{
max-width: 100%;
height: auto;
}

.container{
    max-width: 40rem;
    margin: 7rem 10rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1.7rem;
}


.container img{
 border-radius: 0.75rem;
 margin-bottom: 1.5rem;
 
}


ul,ol{
    list-style-position: inside;
}

li::marker{
    color: rosybrown;
}

li span{
    font-weight: bold;
}


h1,h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2{
    color: rgb(120, 74, 74);
    font-weight: bold;
}

.container h1{
    font-weight: 400;
}

.preparation-time{
    background-color:hsl(330, 100%, 97%);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 2rem 0;   
}

.preparation-time h3{
    margin-bottom: 0.65rem;
}


.preparation-time li{
    margin-bottom: 0.5rem;
}


.preparation-time li:last-of-type{
    margin-bottom: 0rem;
}

.preparation-time h3{
    color: ;

}

.Ingredients{
  border-bottom: 1px solid #dfc8c8;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.Ingredients h2{
    margin-bottom: 0.65rem;
}

.Ingredients li{
    margin-bottom: 0.5rem;
}


.Instructions{
    margin-bottom:1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dfc8c8;
}

.Instructions h2{
 margin-bottom: 0.95rem;
}

.Instructions li{
    margin-bottom: 0.65rem;
}

.Nutrition td{
    border-bottom:1px solid rgb(185, 104, 104) ;
    padding: 0.65rem 0.85rem
}

.Nutrition table{
    margin-top: 0.75rem;
    width: 100%;
}

@media (max-width:38rem) {
    .container{
        border-radius: 0;
        margin: 0;
    }
}