*{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

/* nav-section */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
    

}

.hero-section, .nav{
    margin-top: 0;
    padding-bottom: 0;
}


.logo img{
    width: 200px;
     
}


.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links li{
    list-style-type: none;
}


/*.nav-links a{
    text-decoration: none;
    font-size: 16px; 
    color: #000;
}*/


.nav-links a:link{
    color: #000;
}


.nav-links a:hover{
    color: #000;
    padding-bottom: 10px;
    border-bottom:1px solid #00f;
}

.socials img{
    margin-left: 120px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 40px;

    
}

.socials img:hover{
    transform: translateY(-50%);
    transition: 0.4s;
}

/* Hero-section */
.hero-section{
    width: 110vw;
    height: 90vh;
    background: linear-gradient(rgba(255 ,0 ,0, 0.5), rgba(56, 56, 60, 0.5)), url('hero section.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: auto;
    
}

.hero-content{
   margin: 0 20%;
   text-align: center;
}

.hero-content h1{
    font-size: 60px;
    margin top: 20px; 
}

.hero-content p{
    font-size: 20px;
    margin: 20px 0;
}

.btn1, .btn2{
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btn1{
    background-color: #00f;
    color: #fff;
    margin-right: 15px;
}

.btn2{
    background-color: #fff;
    color: #00f;
    margin-left: ;
}

.modeoftraining{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}


/* training section */
.trainings{
    max-width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin-top: 60px;
    cursor: pointer;     
}

.training1{
    background-color: #67462f;
    color: white;
    padding: 30px 45px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
 
.physical-icon{
    margin-left: 165px;
}

.physicalheading{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.physicalparagraph{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.training2{
    background-color: #a2a2b1;
    color: #fff;
    padding: 30px 45px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.virtualparagraph{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.virtualheading{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.virtual-icon{
    margin-left: 165px;
}


.training3{
    background-color: #493628;
    color: #fff;
    padding: 30px 45px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.corporateheading{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.corporateparagraph{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.btn-blue{
    background-color: rgb(45, 45, 222);
    color: #fff;
    padding: 10px 20px;
    font-family: 16px;
    border-radius: 9px;
    cursor: pointer;
    border: none;
}

.btn-blue-container{
   text-align: center;
    margin-top: 20px;
}

.btn-black{
    background-color: rgb(31, 19, 19);
    color: #fff;
    padding: 10px 20px;
    font-family: 16px;
    border-radius: 9px;
    cursor: pointer;
    border: none;
}

.btn-black-container{
    text-align: center;
    margin-top: 20px;
}

.corporate-container{
    text-align: center;
    margin-top: 20px;
}

.corporate-icon{
    margin-left: 165px;
}

.course-h1{
    text-align: center;
    color: #6c4bb2;
    margin-top: 40px;
    margin-bottom: 50px;
}

.content{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text{
    margin-left: 50px;
}

@media (max-width:768px) {
    .trainings{
        flex-direction: column;
    }    
}