<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JavaScript Inspired Site</title>
  <link rel="stylesheet" href="tech trends.css">
  </head>
  
  <section class="tech-trends">
    <div class="content">
      <span class="tag">Top-tier training</span>
      <h2>Tackle tech trends with the best in the industry</h2>
      <p>
        Learn from real experts. Our author list is highly curated with 91% of them backed by at least 10 years experience in their field. 
        Cast a wide learning net or develop a highly specialized learning path, reassured that you’re getting top notch, up-to-speed insights.
      </p>
      <button class="cta-btn">View course library</button>
    </div>
  </section>