body {
  background-color: #111;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  text-align: center;
}

#clock {
  font-size: 4rem;
  margin: 20px 0;
  letter-spacing: 5px;
  color: #00ffcc;
}

#countdown {
  font-size: 2rem;
  color: #ffcc00;
}
